.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;

    &__logoContainer {
        border: 1px solid black;
    }

    &__logo {
        max-height: 100px;
    }

    &__menu {

        &__list {
            display: flex;
            list-style: none;

            &__item {
                margin-right: 20px;
                font-size: 15px;
            }

        }
    }
}